.btn_seleccion_biblioteca{
    cursor:pointer;
}

.table{
    
    width: 100% !important;
}

.input_preseleccion, .input_seleccion{

        width:70px;
        font-size:10px;
    }

.seleccion{

    margin:10px 0;
}

.btn-group-sm{

    display:inline-block;
}

.btn-link{
    text-transform: none !important;

    font-size:30px;
}

.total{
    border:none;
}
